body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
/*header*/
header{
  width: 80%;
position: fixed;
top: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  background-color: #212121;
  z-index: 2;
}
header li,a,button{
font-family: courier,arial,helvetica;
color: #d1d4d5;
font-size: 17px;
text-decoration: none;
}
.logo{
  margin-top: 12px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  display: inline-block;
  float:left;
}
.LogoName span{
  padding: 25px;
  font-size: 35px;
  display: inline-block;
}
.navLinks{
  list-style: none;
}
.navLinks li{
  display: inline-block;
  padding: 15px 20px;
}
.navLinks li a{
  transition: all 0.3s ease 0s;
  padding:25px 0px;
}
.navLinks li  a:hover{
  border-bottom: 1px solid #aaa;
}
.navLinks .Browse .BrowseText{
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.navLinks .Browse{
  position: relative;
}
/* Browse DropDown*/
.DropDown{
  cursor: pointer;
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    padding: 0;
    display: none;
    width: fit-content;
}
.DropDown .DropDownContent{
  position: relative;
  color:#b8b8b8;
  display: inline-block;
  background: #212121;
  box-sizing: border-box;
  padding: 10px 25px;
  float: left;
    clear: left;
  width: fit-content;
}
.DropDown .DropDownEnd{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:10px;
}
.navLinks .Browse:hover> .BrowseText{
  border-bottom: 1px solid #93e6f1;
  color:#93e6f1;
}
.navLinks .DropDown .DropDownContent:hover{
  background-color:#4d4d4d;
}
.navLinks .Browse:hover .DropDown{
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0px;
  display: block;
}
.navLinks .Browse:hover .DropDownContent:nth-child(1){
  animation: dropDownAnimation 300ms ease-in-out forwards;
  animation-delay: -200ms;
}
.navLinks .Browse:hover .DropDownContent:nth-child(2){
  animation: dropDownAnimation 300ms ease-in-out forwards;
  animation-delay: 0ms;
}
@keyframes dropDownAnimation {
  0%{
    opacity: 0;
    transform:translateY(-60px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Drop Down Detail(submenu)*/
.navLinks .DropDown .DropDownContainer{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left:70%;
  top:0;
  display: none;
}
.navLinks .DropDown .DropDownContainer .Holder{
 display: flex;
 justify-content: flex-start;
 align-items:left;
 flex-direction: column;
 background-color: #212121;
 padding:10px 10px 10px 10px;
 border-radius: 10px;
}
.navLinks .DropDown .DropDownContainer .Holder a{
  margin: 10px;
  padding:0;
  font-size: 14px;
  font-weight: 100;
  padding: 3px;
}
.navLinks .DropDown .DropDownContainer .Holder h3{
  letter-spacing:2px;
  font-size: 25px;
padding:0 15px;
}
.navLinks .DropDown .DropDownContainer .Holder a:hover{
  color:#666;
}
/*First Holder*/
.navLinks .Browse .DropDownDetail:hover{
    background-color: #4d4d4d;
}
.navLinks .Browse .DropDownDetail{
  background-color: #212121;
    color:#b8b8b8;
    width: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.navLinks .Browse .DropDownDetail span{
font-weight: 300;
font-size: 14px;
text-align: center;
}
/*Display submenu in Dropdown content*/
.navLinks .DropDown .DropDownContent:hover .DropDownContainer{
  display: block;
}
.navLinks .Browse:hover .DropDownDetail:nth-child(1){
  animation: dropDownAnimation 300ms ease-in-out forwards;
  animation-delay: -200ms;
}
.navLinks .Browse:hover .DropDownDetail:nth-child(2){
  animation: dropDownAnimation 300ms ease-in-out forwards;
  animation-delay: 0ms;
}
.navLinks .Browse:hover .DropDownDetail:nth-child(3){
  animation: dropDownAnimation 300ms ease-in-out forwards;
  animation-delay: 200ms;
}
/*Contact & animation*/
header button{
  padding: 9px 25px;
  background-color: #313131;
  border:none;
  border-radius: 50px;
  cursor: pointer;
  transition: all .3s ease 0s;
}
header button:hover{
  padding: 9px 40px;
  background-color: #2a2a29;
  color:#e9ebeb;
}
/*my Account& animation*/
.myAcount{
  width: 27px;
  height: 27px;
  padding: 3px;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
  background-color: #d1d4d5;
}
.myAcount:hover{
  width: 35px;
  height: 35px;
  padding: 10px  ;
background-color: #43484d;
}
/*footer*/
footer{
  margin-top: 20px;
  width: 100%;
}
footer .UpperBar{
  margin-top:40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 15% 90px 15%;
  background-color: #2a2a2a;
}
footer .UpperBar div{
  height: 300px;
}
footer .logoText p{
  position: relative;
  letter-spacing: 1.5px;
  color: #e1ebba;
  top: -20px;
  font-size: 12px;
  text-align: center;
}
footer .UpperBar div h1{
  font-family: courier,arial,helvetica;
  color: #686868;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}
footer .UpperBar li{
    font-family: courier,arial,helvetica;
      font-size: 17px;
  color: #eee;
  list-style: none;
  line-height: 1.75;
}
footer div .logoText{
  font-size: 45px;
    font-family: courier,arial,helvetica;
  display: inline-block;
  color: #d1d4d5;
}
footer .Language .language{
  margin-left: 4px;
  font-family: courier,arial,helvetica;
  color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  height: 20px;
  width: 100px;
  background-color: inherit;
}
footer .LowerBar{

  background-image: linear-gradient(to right, #3a3a3a , #1b1b1b);
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0px 15%;
  color:#eee;
  -webkit-box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
  box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
}
footer .LowerBar .CopyRight{

font-size: 12px;
letter-spacing: 2.3px;
font-family: 'Enriqueta', arial, serif;
}
footer a:hover li{
  border-bottom: 1px solid #eee;
  color:#777;
}
footer .LowerBar .Policy li{
    font-family: courier,arial,helvetica;
    font-size: 17px;
display: inline-flex;
list-style: none;
padding:15px 20px;
}
