body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
  font-family:courier,arial,helvetica;
}
.Banner{
  position:relative;
  width: 100%;
  height: auto;

  text-align: center;
}
.Banner img{
  width: 100%;
}

.Banner h1{
  line-height: 0;
  color: rgba(255,255,255,0.50);
  position: absolute;
  top: 25px;
  left: 16px;
  font-size: 20vw;
}
.Banner h3{
  position: absolute;
  top:65px;
  left:40px;
  line-height: 1;
  color:#f4fbfe;
  font-size: 7vw;
  width: 40%;
  font-family: "Great Vibes", cursive;
}
.Banner h2{
  position: absolute;
  left: 30%;
    top: 55%;
  transform: translate(-50%, -50%);
  font-family: 'Rouge Script', cursive;
  font-weight:  lighter;
  font-style: italic;
  color: #000ec0;
  font-size: 1.5vw;
}
.Banner h4{
  color:#000;
  position: absolute;
  line-height: 1;
  font-size: 2vw;
  top: 60%;
  font-weight: 100;
  left: 40%;
  transform: translate(-50%, -50%);
}
.Banner div{
  position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    font-weight: 100;
    font-size: 2vw;
    left: 50%;
    color: #fff;
    padding: 20px 40px;
    background-color: #222;
    border-radius: 30px;
}
.Banner div:hover{
  background-color: #666;
}
.containerIntro{
text-align: center;
  font-size: 25px;
}
.containerIntro .intro{
  position: relative;
    text-transform: uppercase;
    color:#5b5b5b;
}
.containerIntro .introContent{
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color:#777;
  max-width: 40%;
}
.container
{position: relative;
margin-left: -40px;
width: 100%;
display: inline-flex;
justify-content: center;
align-items: center;
padding: 20px 0;
flex-wrap: wrap;
}
.container::after{
  position: absolute;
  content:'';
  width: 50%;
height: 1px;
  bottom: -10px;
    background-image: linear-gradient(to right,#fff,#000,#fff);
}
.container .box{
  margin-top: 20px;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
width: 350px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
padding: 20px 40px;
border-radius: 30px;
-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.28);
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.28);
}
.container .box .shop{
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 10px;
}
.container .box .shop h3{
  margin: 0;
  margin-top: 10px;
  font-weight: 550;
  font-size: 24px;
}
.container .box .shop p{
  font-weight: 100;
  font-size: 15px;
  color:#aaa;
}
.container .box .bestSeller{
  margin-left: 10px;
}
.container .box .shop img{
  width: 200px;
  height: 200px;
}
.container .box .bestSeller{
  width: 60%;
  justify-content: center;
  display: flex;
  align-items: left;
  flex-direction: column;
text-align: left;
}
.container .box .bestSeller h3{
  font-weight: 100;
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;

}
.container .box .bestSeller img{
  width: 80px;
  height: 80px;
}
.container .box .bestSeller .product{
  margin-bottom: 10px;

  align-items: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.container .box .bestSeller .product .productDetail{
  width: 100%;
text-align: center;
}
.container .box .bestSeller .product .productDetail h4{
  max-width: 60%;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  font-weight: 300;
}
.container .box .HoverEffect{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 123, 255, 0.5);
  border-radius: 30px;
  transition: all 300ms ease-in-out 0s;
  text-align: center;
  justify-content: center;
  align-items: center;
display: flex;
opacity: 0;
}
.container .box .HoverEffect a{
  text-decoration: none;
}
.container .box .HoverEffect .HoverButton{
color: #000;
font-weight: 300;
border-radius: 50px;
background-color: #fff;
padding:20px 20px;
  transition: all 300ms ease-in-out 0s;
  opacity: 0;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.container .box:hover >.HoverEffect{
opacity: 1;
}
.container .box:hover >.HoverEffect .HoverButton{
  opacity: 1;
}
.container .box .HoverEffect .HoverButton:hover{
  background-color: #109bef;
  color:#fff;
  padding:20px 30px;
}
/*product Box*/
.container .ProductBox
{
  position:relative;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 10px;
  width:200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.05);
    cursor: pointer;
}
.container .ProductBox img{
  width: 175px;
  height: 175px;
  margin-bottom: 5px;
}
.container .ProductBox .ProTitle{
  margin: 0;
  width: 100%;
  height: 20px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Rubik";
}
.container .ProductBox .Author{
  margin: 0;
  font-size: 16px;
  margin-top: 30px;
  color:#cd995b;
}
.container .ProductBox .prices{
  margin-top: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container .ProductBox .prices .original::before{
  content:'$';
}
.container .ProductBox .prices .original{
  margin:0 10px;
  font-size: 16px;
  text-decoration: line-through;
  color:#777;
}
.container .ProductBox .prices .current::before{
    content:'$';
}
.container .ProductBox .prices .current{
  margin:0 10px;
  font-size: 20px;
  color:#000;
}
.container .ProductBox .HoverEffect{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 123, 255, 0.5);
  transition: all 300ms ease-in-out 0s;
  text-align: center;
  justify-content: center;
  align-items: center;
display: flex;
opacity: 0;
}
.container .ProductBox .HoverEffect a{
  text-decoration: none;
}
.container .ProductBox .HoverEffect .HoverButton{
color: #000;
font-weight: 300;
border-radius: 50px;
background-color: #fff;
padding:20px 10px;
  transition: all 300ms ease-in-out 0s;
  opacity: 0;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.container .ProductBox:hover >.HoverEffect{
opacity: 1;
}
.container .ProductBox:hover >.HoverEffect .HoverButton{
  opacity: 1;
}
.container .ProductBox .HoverEffect .HoverButton:hover{
  background-color: #109bef;
  color:#fff;
  padding:20px 30px;
}
/* DiscountBar*/
.DiscountBar{
  width: 100%;
  margin-top: 25px;
  background-color: rgba(238, 248, 254, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.DiscountBar .display{
display: flex;
align-items:center;
justify-content: center;
flex-direction: row;
}
.DiscountBar .display img{
  height: 300px;
  width: 300px;
}
.DiscountBar .display .timeDisplay{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0;
}
.DiscountBar .display .timeDisplay .box{
  background-color: #fff;
  width: 90px;
  margin:2px 5px;
  text-align: center;
  border:1px solid #aaa;

}
.DiscountBar .display .timeDisplay .box .time{
  color: #00b1e8;
  font-size: 20px;
  font-weight: 600;
}
.DiscountBar .display .timeDisplay .box .timeName{
  color: #aaa;
  font-size: 14px;
}
.DiscountBar .Desciption{
  width: 60%;
  margin-left: 25px;
  position: relative;
}
.DiscountBar .Desciption .DiscountTitle{
  font-size: 20px;
  font-weight: 600;
}
.DiscountBar .Desciption .DiscountDetail{
  font-size: 14px;
  font-family: "Rubik";
  color:#333;
  line-height: 1.5;
}
.DiscountBar .Desciption .prices span::before{
  content: '$';
}
.DiscountBar .Desciption .prices .original{
font-size: 16px;
color:#aaa;
text-decoration: line-through;
}
.DiscountBar .Desciption .prices .current{
  font-size: 25px;
  color:#ec8d26;
font-weight: 600;
}
/* checking button */
.checkBut{
  display: block;
  font-weight: 100;
  font-size: 16px;
  color: #fff;
  padding: 15px 40px;
  background-color: #222;
  width: 100px;
  text-decoration: none;
  transition: all 300ms ease 0s;
}
.checkBut:hover{
    color: #333;
      background-color: #ccc;
}
