body{
  max-width: 100%;
  padding: 0;
  margin: 0;
    font-family:courier,arial,helvetica;
    overflow-x: hidden;
}
.background{
  position: absolute;
  height: 0;
  width: 100%;
  z-index: -1;
transform: translateX(50%)rotateZ(-90deg);
}
.background div{
  position: relative;
     height: inherit;
}
.background div svg{
  position: absolute;
  bottom: -1px;
}
.banner{
  margin-top: 80px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 2px 0px 15px 1px rgba(0,0,0,0.41);
box-shadow: 2px 0px 15px 1px rgba(0,0,0,0.41);
padding:30px;
}
.banner h3{
  color:#111;
  font-size: 3vw;
}
.banner div{
  text-align: left;
  font-size: 16px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.banner .Welcome{
  margin-top: auto;
  margin-right: auto;
  color:#333;
  font-size: 18px;
  font-style: italic;
}
.banner .Subwelcome{
  font-size: 18px;
  color:#333;
}
.banner .Announcement{
  color:#000;
  font-size: 20px;
  font-weight: 600;
}
.banner .contentHead{
font-size: 30px;
font-weight: 800;
color:#000;
}
.banner .ending{
  font-size: 20px;
  font-weight: 700;
}
